<a href="https://colab.research.google.com/github/IagoAlmeida-ias/Python-para-Data-Science/blob/main/03_Date_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando a biblioteca do pandas

import pandas as pd

In [ ]:
df_des = pd.read_csv('vendas_ficticias.csv')

In [ ]:
# Padronizar o Nomes das Colunas

df_des.columns = ['id', 'produto', 'categoria', 'preco', 'quantidade', 'data_venda',
       'vendedor']

In [ ]:
# Tratando Coluna Preco

#Verificando os valores únicos da coluna preco
df_des['preco'].unique()

array(["'27.82'", '49.42', '46.79', ..., '71.05', '35.76', '32.69'],
      dtype=object)

In [ ]:
df_des['preco'] = df_des['preco'].str.replace("'","")

In [ ]:
# Convertendo o Tipo de Dados

df_des['preco'] = df_des['preco'].astype({'preco':'float64'})    # (String para numerico)

In [ ]:
df_des['data_venda'].unique()

array(['2023-01-01', '2023-01-02', '2023-01-03', ..., '2036-09-06',
       '2036-09-07', '2036-09-08'], dtype=object)

In [ ]:
df_des['data_venda'] = pd.to_datetime(df_des['data_venda'], format='%Y-%m-%d')

In [ ]:
df_des.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5000 non-null   int64
 1   produto     4997 non-null   object
 2   categoria   4999 non-null   object
 3   preco       5000 non-null   float64
 4   quantidade  5000 non-null   int64
 5   data_venda  4999 non-null   datetime64[ns]
 6   vendedor    4989 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 273.6+ KB

In [ ]:
df_des['valor_total'] = df_des['quantidade'] * df_des['preco']

In [ ]:
# Tratando Valores Nulos (Missing Values)

# Localizar valores nulos
df_des.isnull().sum()

id              0
produto         3
categoria       1
preco           0
quantidade      0
data_venda      1
vendedor       11
valor_total     0
dtype: int64

In [ ]:
# Identificando nulos

#df_des['produto'].unique() # foi resolvido
#df_des['categoria'].unique() # foi resolvido
#df_des['data_venda'].unique()
#df_des['vendedor'].unique() # foi resolvido

In [ ]:
df_des['produto'].fillna('Produto Não Identificado', inplace=True)
df_des['categoria'].fillna('Categoria Não Identificado', inplace=True)
df_des['vendedor'].fillna('Vendedor Não Identificado', inplace=True)

# df_des['data_venda'].fillna('data_venda Não Identificado', inplace=True) # Não foi o melhor jeito
# Preenchendo Data nula(fFill de cima pra baixo -- bFill de baixo pra cima)

df_des['data_venda'].ffill(inplace=True)

/tmp/ipython-input-15-3075506170.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_des['produto'].fillna('Produto Não Identificado', inplace=True)
/tmp/ipython-input-15-3075506170.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_des['categoria'].fillna('Categoria Não Identificado', inplace=True)
/tmp/ipython-input-15-3075506170.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_des['vendedor'].fillna('Vendedor Não Identificado', inplace=True)
/tmp/ipython-input-15-3075506170.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_des['data_venda'].ffill(inplace=True)

In [ ]:
df_des.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5000 non-null   int64
 1   produto      5000 non-null   object
 2   categoria    5000 non-null   object
 3   preco        5000 non-null   float64
 4   quantidade   5000 non-null   int64
 5   data_venda   5000 non-null   datetime64[ns]
 6   vendedor     5000 non-null   object
 7   valor_total  5000 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 312.6+ KB

In [ ]:
df_des.duplicated().sum()

# Excluindoduplicidade re registros

df_des.drop_duplicates(inplace=True)

In [ ]:
# Excluir coluna

df_des.drop(columns=['id'], inplace=True)

In [ ]:
# Ordenando o DataFrame de acordo com uma coluna específica

df_des.sort_values('produto', inplace=True)

In [ ]:
df_des

,produto,categoria,preco,quantidade,data_venda,vendedor,valor_total
4999,Produto A,Categoria 3,32.69,3,2036-09-08,Vendedor 3,98.07
3495,Produto A,Categoria 1,90.47,10,2032-07-27,Vendedor 2,904.70
1531,Produto A,Categoria 3,10.16,15,2027-03-12,Vendedor 3,152.40
3498,Produto A,Categoria 3,86.06,16,2032-07-30,Vendedor 2,1376.96
3499,Produto A,Categoria 2,53.22,6,2032-07-31,Vendedor 2,319.32
...,...,...,...,...,...,...,...
3546,Produto C,Categoria 3,98.72,8,2032-09-16,Vendedor 2,789.76
0,Produto C,Categoria 3,27.82,19,2023-01-01,Vendedor 1,528.58
317,Produto Não Identificado,Categoria 3,86.54,10,2023-11-14,Vendedor 3,865.40
287,Produto Não Identificado,Categoria 2,44.45,11,2023-10-15,Vendedor 1,488.95
270,Produto Não Identificado,Categoria 3,87.94,7,2023-09-28,Vendedor 2,615.58

In [ ]:
df_des.to_excel("base_tratada.xlsx")